* {
    margin: 0;
    padding: 0;
}

.wraper {
    overflow: hidden;
}


/* page1 section  */
.page1-section {
    background-image: url(../images/banner-bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120vh;
}

.header {
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    /* background-color: aqua; */
    width: 81vw;
}

nav {
    padding: 2vh 0 0 0;
    margin: auto;
    width: 81vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: blue; */
    z-index: 2;
}

#logo {
    cursor: pointer;
}

.nav-item-con {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
}

.nav-item-con img {
    cursor: pointer;
}

.nav-item-con img:nth-child(4) {
    width: 5vmin;
    aspect-ratio: 1/.6;
}

.nav-item-con p {
    font-size: 1.4vw;
    color: white;
    cursor: pointer;
    /* font-weight: 600; */
}

.drop-down-con {
    display: flex;
    margin: auto;
    width: 81vw;
    height: 0vh;
    z-index: 1;
    transition: all ease 1s;
    overflow: hidden;
    /* background-color: #ffd359; */
}

.item-con {
    padding: 2vmin 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    color: white;
    font-size: 3.2vmin;
    /* transform: translateY(-4080%); */
    transition: all .5s;
}

.item-con li {
    cursor: pointer;
    letter-spacing: 1px;
}

.item-con li:hover {
    color: #ffffffc7;

}

/* slaider con  */
.page1-slaider-con {
    margin: 13vh auto 0;
    width: 81vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* background-color: blue; */
    position: relative;
    z-index: 4;
}

.part1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.part1-left {
    width: 35vw;
    /* background-color: orange; */
}

.part1-left h1 {
    font-size: 4.9vw;
}

.part1-left p {
    padding: 4vmin 0;
    font-size: 2.3vmin;
    /* letter-spacing: 1px; */
}

.part1-left button {
    margin-top: 3vmin;
    padding: 1.2vw 3.5vw;
    border-radius: 50px;
    border: 2px solid #ffff;
    font-size: 2.1vw;
    font-weight: bold;
    background-color: #ffd359;
    color: white;
    cursor: pointer;
    transition: all ease .3s;
}

.part1-left button:hover {
    background-color: transparent;
}

.part1-right img {
    filter: blur(15px);
    width: 35vw;
}

/* right  */
.part2 {
    margin-top: 14vmin;
    /* background-color: #ffd359; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.part2-item {
    height: 8vmin;
}

#all-btn {
    padding: 0 1vw;
    color: white;
    background-color: black;
    border: none;
    border-radius: 1vw 0 0 1vw;
    cursor: pointer;
}

#part2-input {
    width: 50%;
    height: 7vmin;
    padding: .5vmin 1vmin;
    border: none;
    font-size: 3vmin;
    color: #444343ab;
    box-shadow: 0 0 2vw -1vw white;
}

#search-btn {
    padding: 0 3.2vmin;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #ffd359;
    cursor: pointer;
    color: white;
    font-size: 3vmin;
    transition: all ease .3s;
}

#search-btn:hover {
    border: 1px solid black;
    border-left: none;
}

#p1-slaider-con1 {
    position: absolute;
    top: 50%;
    left: 10%;
}

.p1-slaider-con {
    position: absolute;
    left: -100%;
    transition: all ease .4s;
}

.page1-changer-bnt-con {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    width: 16vmin;
    gap: 4vmin;
    position: absolute;
    top: 70%;
    left: 4%;
    z-index: 4;
}

.page1-changer-bnt-con button {
    width: 11vmin;
    aspect-ratio: 1/1;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: #ffd359;
    display: inline-block;
    transition: all ease .3s;
}

.page1-changer-bnt-con button:hover {
    background-color: black;
}

#page1-left-icon {
    align-self: flex-end;
}

/* page 2 / catagory section  */
.page2-section {
    padding-top: 12vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin: 1vh auto;
    color: #383738;
}

.catagoryPart-con {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: #ffd359; */
    width: 100%;
    gap: 2vmin;

}

#catagory-text {
    font-size: 5vmin;
    letter-spacing: .5vmin;
}

.catagory-item-con {
    margin-top: 4vmin;
    display: flex;
    justify-content: space-between;
    gap: 2vmin;
    width: 81vw;
    flex-wrap: wrap;
}

.c-item {
    width: 15vw;
    padding: 2vmin 1vmin;
    box-shadow: 0px 0px 4px -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1vw;
    gap: 2vh;
    cursor: pointer;
    font-size: 3vmin;
    transition: .3s;
    text-align: center;
}

.c-item:hover {
    transform: scale(1.02);
    box-shadow: 0 0 7px -3px;
}

.c-item img {
    width: 4vmin;
    aspect-ratio: 1 / 1.1;
}
/* product  */
.productPart-con {
    width: 100%;
    /* background-color: #ffd359; */
}

.product-part1-main-con {
    margin: auto;
    width: 81vw;
}

.produnt-part1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 12vmin 0;
    gap: 1vmin;
}

.p-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #faf7f7;
    width: 45vmin;
    aspect-ratio: 1/1;
    cursor: pointer;
    transition: .3s;
    padding: 3vmin;

}
.p-item>h1 {
font-size: 4vmin;
}

.p-item:hover {
    transform: scale(1.02);
    background-color: white;
    box-shadow: 0 0 5px -3px;
}

.p-item p a {
    text-decoration: none;
    color: black;
    font-size: 3vmin;
    cursor: pointer;
    text-transform: uppercase;
}

.p-item p a:hover {
    text-decoration: underline;
    color: rgba(26, 26, 218, 0.705);
}

.p-item img {
    width: 35vmin;
    aspect-ratio: 1/.7;
}

.product-Part2-main-con {
    width: 100%;
    background-color: #faf7f7;
    padding: 10vh 0;
}

.bg-white {
    background-color: white;
}

.bg-white:hover {
    transform: scale(1);
    box-shadow: 0 0 0 0;
}

.produnt-part2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #ffd359; */
    width: 90%;
    gap: 2.2vmin;
    margin: auto;
    flex-direction: column-reverse;
}

#p-part2-item2 {
    width: 66%;
    height: 47vmin;
}

#p-part2-item2 img {
    width: 51vmin;
    aspect-ratio: 1 / .4;
}

#part2-last-seeMore {
    align-self: flex-end;
    margin-right: 9vw;
}

/* page 3 section  */
.page3-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: red; */
    width: 90%;
    margin: auto;
    padding: 10vmin 0;
    color: #383738;
}

.page3-head-con {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3vmin;
    margin-bottom: 16vmin;
}

.page3-head-con h1 {
    font-size: 5vmin;
}

.page3-head-con P {
    font-size: 2vmin;
}

.page3-product-con {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* background-color: orange; */
}

#page3-product-left-con {
    align-self: self-start;
    /* background-color: rgb(30, 255, 0); */
    width: 53vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vmin;
}

#page3-product-right-con {
    align-self: self-start;
    /* background-color: rgb(0, 255, 200); */
    width: 45vw;
    aspect-ratio: 1/.7;
}


.page3-p-item {
    width: 100%;
    height: 100%;
    /* background-color: rgb(55, 0, 255); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 3vh;
    padding: 4vh 0;
    box-shadow: 0 0 7px -3px;
}
.page3-p-item>h2{
    font-size: 3vmin;
}
.page3-p-item img {
    width: 20vw;
}
#page3-p-img3{
    width: 30vw;
}

#page3-seeMore-btn a {
    text-decoration: none;
    font-size: 1.4vw;
    color: black;
}

#page3-seeMore-btn a:hover {
    text-decoration: underline;
}

/* page 4 section  */
/* page 4 section  */
.page4-section {
    /* background-color: #ffd359; */
    width: 100%;
    height: 90vh;
    aspect-ratio: 3 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #383738;
    margin: 12vmin 0;
}
.page4-body{
    width: 81vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: #000000; */
}
.page4-head-con{
    /* background-color: red; */
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    margin-bottom: 4vh;
}
.page4-head-con h1{
    font-size: 3vw;
}
.page4-head-con p{
    font-size: 1.2vw;
}
.page4-slaider-main-con{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.page4-slaider-con{
    height: 100%;
    /* background-color: blue; */
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    /* flex-direction: column; */
    position: relative;
}
.page4-slaider {
    width: 88%;
    background-color: white;
    padding: 5vmin;
    position: absolute;
    right: 999%;
    box-shadow: 5px -5px 7px -6px;
    transition: all ease .7s;
}
.page4-slaider>p {
    padding: 3vmin 0;
}
#page4-slider1{
    right: 0;
}

.fixed-div {
    width: 23vmin;
    height: 85%;
    background-color: #873ee6;
    align-self: flex-start;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.slider-chng-btn-con{
    display: flex;
    gap: 1vw;
    position: absolute;
    bottom: 4vh;
    right: 6vw;
}
.slider-chng-btn-con button {
    width: 10vmin;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: none;
    background-color: #873ee6;
    cursor: pointer;
    transition: all ease .3s;
}
.slider-chng-btn-con button:hover{
    background-color: black;
}


/* page5-section  */
.page5-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4.4vmin;
    height: 67vh;
    position: relative;
    padding: 0 3vmin;
}
.page5-section::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/newsletter-bg.png);
    z-index: -1;

}
.page5-part1{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap:2vh;
    align-items: center;
    color: white;
    
}
.page5-part1 h1{
    font-size: 4vw;
    font-weight: 400;
    margin-bottom: 3vh;
}
.page5-part2 {
    width: 74vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid white;
    padding-bottom: .4vh;
}
.page5-part2 input {
    /* width: 83%; */
    padding: 3.2vmin;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 3vmin;
    font-weight: 600;
}
.page5-part2 input:focus{
    outline: none;
}
.page5-part2 button {
    padding: 1.3vmin 6vmin;
    border-radius: 50px;
    border: none;
    background-color: white;
    font-size: 3vmin;
    color: #5d4580;
    font-weight: 600;
    letter-spacing: .01vmin;
    font-family: 'Times New Roman', Times, serif;
}


/* footer  */
footer{
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    background-color:#262626;
    color: white;
    padding: 12vh 0 0 0;
}
footer p{
    color: #aba9a9;
}
.footer-part1{
    display: flex;
    align-items: self-start;
    justify-content: space-evenly;
    width: 100%;
}
.footer-part1 h2{
    font-size: 4vmin;
    font-weight: 500;
    margin-bottom: 3vmin;
}
.f-part1-div1, .f-part1-div2, .f-part1-div3 {
    width: 26vmin;
    padding: 0 3vmin;
}
.f-part1-div1 p{
    line-height: 3vh;
}
.f-p1-icon-con{
    display: flex;
    gap: 2.4vmin;
    margin-top: 3vmin;
    transition:  all ease .3s;
}
.f-p1-icon-con img{
    transition: all ease .3s;
    cursor: pointer;
}
.f-p1-icon-con img:hover{
    transform: translateY(.5vmin);
}
.f-part1-div2 p{
    line-height: 3vh;

}
.f-part1-div2 a{
    display: block;
    line-height: 3vh;
    color: #aba9a9;
    cursor: pointer;
    text-decoration: none;

}

.footer-mid-line{
    width: 50%;
    height: .2vmin;
    background-color: white;
    margin: 9vmin 0;
}
#copyright-text{
    margin-bottom: 3vmin;
    letter-spacing: .2vmin;
    font-size: 1.4vmin;
}

/* ========================= responsive ================ */
@media (max-width: 500px) {
    .page1-section {
        background-position: left;
    }
    nav {
        padding: 4vmin 0 0 0;
        width: 81vmin;
    }
    .item-con {
        padding: 2vmin 0;
        gap: 2vmin;
        font-size: 4.8vmin;
    }
    .nav-item-con p {
        font-size: 5vmin;
        font-weight: 600;
        color: white;
    }
    .nav-item-con img:nth-child(4) {
        width: 7.5vmin;
    }
    .part1 {
        flex-direction: column;
        gap: 7vmin;
    }
    .part1-left {
        width: 79vw;
    }
    .part1-left>h1{
        font-size: 9.2vmin;
    }
    .part1-left p {
        width: 95%;
    }
    .part1-left button {
        font-size: 4.1vw;
    }
    .part1-right img {
        width: 71vmin;
        margin-right: 7vmin;
    }
    #p1-slaider-con1 {
        left: 4%;
    }
    .produnt-part1 {
        justify-content: center;
        gap: 3vmin;
    }
    .p-item {
        width: 75vmin;
    }
    #p-part2-item2 {
        width: 84%;
    }
    .fixed-div {
        margin-left: -5vmin;
    }
    footer{
        padding: 5vmin 0;
    }
    .f-part1-div1, .f-part1-div2, .f-part1-div3{
        width: 80%;
    }
    .footer-part1 {
        padding: 0;
        flex-direction: column;
        align-items: center;
        gap: 10vmin;
    }
    .footer-part1 h2{
        font-size: 5.5vmin;
    }
    #copyright-text {
        font-size: 2.4vmin;
    }
    .footer-mid-line {
        width: 90%;
        height: .2vmin;
        background-color: white;
        margin: 9vmin 0;
    }
}
@media (max-width: 784px) {
    .page3-head-con {
        margin-bottom: 6vmin;
    }
    .page3-product-con {
        gap: 2vmin;
    }
    #page3-product-left-con {
        width: 90vmin;
        flex-direction: row;
        gap: 2vmin;
    }
    #page3-p-item3{
        width: 90vmin;
    }
    
}